<style type="text/css">
  .follow{
    background-color: inherit;
    border: 1px solid white;
    cursor: pointer;
  }
</style>
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/wallpaper.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread display-3">Author</h1>
            <h3>
              <a href="/auth/{{userAccess._id}}"> {{userAccess.username}}</a>
            </h3>
            <ul class="tagcloud m-0 p-0">
                <a class="tag-cloud-link" style="color: white;cursor: pointer">{{userAccess.article.length}} Bài viết</a>
                <a class="tag-cloud-link" data-bs-toggle="modal" data-bs-target="#follower" style="color: white;cursor: pointer">{{userAccess.follower.length}} Người theo dõi</a>
                <a data-bs-toggle="modal" data-bs-target="#following" class="tag-cloud-link" style="color: white;cursor: pointer">{{userAccess.following.length}} Đang theo dõi</a>
                <ul class="tagcloud m-0 p-0 {{displayFollow}}"> 
                  <div class="row d-flex justify-content-center">
                    <form method="POST" action="/auth/addFollow/{{userAccess._id}}?_method=PUT" class="{{displayIsFollow}}">
                      <input type="" name="id" value="{{userAccess._id}}" class="d-none">
                      <button class=" rounded follow" style="color: white" id="deleteFollow" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Theo dõi người dùng
                      </button>
                    </form>
                    <form method="POST" action="/auth/deleteFollow/{{userAccess._id}}?_method=DELETE" class="{{displayIsFollowing}}">
                      <input type="" name="id" value="{{userAccess._id}}" class="d-none">
                      <button class=" rounded follow" style="color: white" id="deleteFollow" type="submit">
                        Bỏ theo dõi
                      </button>
                    </form>
                  </div>                                
                </ul>
            </ul>
          </div>
        </div>
      </div>
 </section>
<section class="ftco-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-flex justify-content-center mb-3">
            <h1>Bài viết của {{userAccess.username}}</h1>
          </div>
        </div>       
        <div class="row">          
          <div class="col-lg-8 ftco-animate">
            <div class="row">
            {{#each userArticle}}
            <div class="col-md-6 ftco-animate" >
              <div class="blog-entry">
                <a href="/blog/{{this._id}}" class="block-20" style="background-image: url('{{this.image}}');">
                </a>
                <div class="text px-4 pt-3 pb-4">
                  <div class="meta">
                    <div><a href="/blog/{{this._id}}">{{this.createdAt}}</a></div>
                    <div><a href="/auth/{{this.author._id}}">{{this.author.name}}</a></div>
                    <h3 class="heading"><a href="/blog/{{this._id}}">{{this.title}}</a></h3>
                  </div>
                  <p class="clearfix">
                    <a href="/blog/{{this._id}}" class="float-left read">Read more</a>
                    <a href="/blog/{{this._id}}" class="float-right meta-chat"><span class="icon-chat"></span>{{this.feedback.length}}</a>
                  </p>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
          </div>
          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box ftco-animate d-flex flex-column align-items-center p-3 border border-3 rounded">
              <div class="col-12">
                 <a href="/auth/{{userAccess._id}}" class="block-20 img-fluid" style="background-image: url('{{userAccess.avartar}}')">
                  </a>
              </div>
              
              <a href="/auth/{{userAccess._id}}" class="" style="font-size: 2rem">{{userAccess.username}}</a>
              <h6>
                "{{userAccess.sologan}}"
              </h6>
            </div>
            <hr>
          </div>

        </div>
      </div>
</section>

<!-- Modal -->
<div class="modal fade" id="following" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Đang theo dõi</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each followingUser}}
            <tr>  
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>
                <a class="btn btn-link" href="/auth/{{this._id}}">Truy cập</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="follower" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Đang theo dõi</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each followerUser}}
            <tr>  
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>
                <a class="btn btn-link" href="/auth/{{this._id}}">Truy cập</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>