<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/wallpaper.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread display-3">Blog</h1>
          </div>
        </div>
      </div>
 </section>
<section class="ftco-section">
      <div class="container">
        <div class="row d-flex">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-1 d-flex justify-content-between align-items-center">
              <span>{{blog.title}}</span>
               <ul class="tagcloud m-0 p-0 {{isUser}}">
                 <a href="/blog/{{blog._id}}/edit" class="tag-cloud-link">Chỉnh sửa</a>
                 <a class="tag-cloud-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Xóa</a>
               </ul>
            </h2>
            <p class="mt-2" id="blog-content">{{blog.content}}</p>
            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                {{#each blog.tag}}
                  <a href="/blog/category/{{this}}" class="tag-cloud-link">{{this}}</a>
                {{/each}}
              </div>
            </div>
            
            <div class="about-author d-flex p-4 bg-light rounded ">
              <div class="desc col-12 d-flex justify-content-center align-items-center flex-column">
                <a href="/auth/{{author._id}}" style="font-size: 2rem">{{author.username}}</a>
                <p class="mb-2">"{{author.sologan}}"</p>
              </div>
            </div>

            <div class="pt-5 mt-5">
              <h3 class="mb-5 h4 font-weight-bold p-4 bg-light">{{blog.feedback.length}} Feedbacks</h3>
              <ul class="comment-list">
                {{#each blog.feedback}}
                <li class="comment">
                  <div class="vcard bio">
                    <img src="{{this.author.avartar}}" alt="" class="img-fluid rounded-circle" style="border-radius: 0;width: 4rem;height: 4rem">
                  </div>
                  <div class="comment-body">
                    <a href="/auth/{{this.author._id}}">{{this.author.name}}</a>
                    <div class="meta mb-2">{{this.createdAt}}</div>
                    <p>{{this.comment}}</p>
                    <p><a class="reply">Reply</a></p>
                  </div>
                </li>
                {{/each}}
              </ul>
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
                <form action="/blog/{{blog._id}}?_method=PUT" class="p-4 p-md-5 bg-light" method="POST">
                  <div class="form-group">
                    <label for="message">Comment</label>
                    <input name="comment" id="message" class="form-control"></input>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>
                </form>
              </div>
            </div>
          </div> <!-- .col-md-8 -->

          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box ftco-animate">
                  <h2 class="mb-3">Popular Articles</h2>
                  {{#each popularBlog}}
                  <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4" style="background-image: url({{this.image}});"></a>
                    <div class="text">
                      <h3 class="heading"><a href="/blog/{{this._id}}">{{this.title}}</a></h3>
                      <div class="meta">
                        <div><a href="/blog/{{this._id}}"><span class="icon-calendar"></span>{{this.createdAt}}</a></div>
                        <div><a href="/auth/{{this.author._id}}"><span class="icon-person"></span> {{this.author.name}}</a></div>
                        <div><a href="/blog/{{this._id}}"><span class="icon-chat"></span> {{this.feedback.length}}</a></div>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
            <hr>
            <div class="sidebar-box ftco-animate">
              <h2 class="mb-3">Tag Cloud</h2>
              <ul class="tagcloud m-0 p-0">
                <a href="/blog/category/JAVASCRIPT" class="tag-cloud-link" >Javascript</a>
                <a href="/blog/category/PYTHON" class="tag-cloud-link" >Python</a>
                <a href="/blog/category/C" class="tag-cloud-link" >C</a>
                <a href="/blog/category/C++" class="tag-cloud-link">C++</a>
                <a href="/blog/category/NODEJS" class="tag-cloud-link" >NodeJs</a>
                <a href="/blog/category/JAVA" class="tag-cloud-link" >Java</a>
                <a href="/blog/category/MACHINE LEARNING" class="tag-cloud-link" >MACHINE LEARNING</a>
              </ul>
            </div>
            <hr>
            <div class="sidebar-box ftco-animate">
              <h2 class="mb-3">Archives</h2>
              <ul class="categories">
                <li><a href="#">January 2019 <span>(20)</span></a></li>
                <li><a href="#">December 2018 <span>(30)</span></a></li>
                <li><a href="#">Novemmber 2018 <span>(20)</span></a></li>
                <li><a href="#">September 2018 <span>(6)</span></a></li>
                <li><a href="#">August 2018 <span>(8)</span></a></li>
              </ul>
            </div>

            <hr>
            <div class="sidebar-box ftco-animate">
              <h3 class="mb-3">Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chú ý</h5>
      </div>
      <div class="modal-body">
        Bạn có chắc là muốn xóa bài viết này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button id="submit-btn" type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa</button>
        <form action="/blog/{{blog._id}}/delete?_method=DELETE" method="POST" id="form">
          
        </form>    
      </div>
    </div>
  </div>
</div>
<script>
  let form = document.getElementById('form');
  let btnSubmit = document.getElementById('submit-btn');
  btnSubmit.onclick = (e) => {
    form.submit();
  }
  window.addEventListener('load', (e) => {
    let content = document.querySelector('#blog-content');
    content.innerHTML = content.textContent;
  })
</script>